header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* padding: 10px 40px; */
}

.logoDiv {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

img {
  width: 70px;
  height: 70px;
}

nav {
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.navLinks {
  color: blue;
  font-size: 20px;
  letter-spacing: 1.3px;
  text-decoration: none;
  opacity: 0.5;
}

.verticalSeparator {
  flex: 1;
  border-left: 2px solid black;
}

/* another class for Navling, but when it is clicked */

.active {
  text-decoration: underline;
  opacity: 1;
}
