.reserved-missions-rockets {
  width: 90%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.reserved-missions-rockets ul {
  list-style: none;
}

.missions-list-container,
.rocket-list-container {
  flex: 1 1 50%;
  order: 2;
  list-style: none;
  padding: 5px;
}

.missions-list,
.rocket-list {
  margin-top: 5px;
  border: 1px solid rgb(179, 178, 178);
}

.missions-item,
.rocket-item {
  border-bottom: 1px solid rgb(179, 178, 178);
  padding: 10px 15px 20px 15px;
}
